<div class="">
  <div
    class="mx-auto flex flex-col items-center gap-5 px-6 pb-12 md:flex-row lg:px-8 lg:pb-24"
  >
    <div class="mx-auto max-w-2xl text-center md:text-left">
      <p
        class="text-accent-300 text-picton-blue-600 text-base leading-7 font-semibold uppercase"
      >
        Lifestyle Aviation Partnership
      </p>
      <h2
        class="text-muted-700 mt-2 text-3xl font-bold tracking-tight sm:text-4xl dark:text-white"
      >
        Unlock Exclusive Opportunities with Blue Skies Above
      </h2>
      <!-- <p class="text-muted-700 mt-6 text-lg leading-8 dark:text-white">
        Through our partnership with LifeStyle Aviation, Blue Skies Above
        students gain access to a nationwide network of modern Diamond Aircraft,
        advanced technology, and ownership solutions designed for future
        professional and recreational pilots.
      </p> -->
      <p class="text-muted-700 mt-4 text-base leading-7 dark:text-white">
        This partnership means more than just flight training, it opens the door
        to mentorship, fleet access, and a clear pathway to aircraft ownership.
        Whether your dream is to fly for fun or to build hours toward a career,
        Blue Skies Above and LifeStyle Aviation ensure that your investment in
        training brings lasting value and unmatched opportunities.
      </p>
    </div>

    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        {
          [
            {
              title: "Access to Modern Diamond Aircraft",
              description:
                "Fly state-of-the-art Diamond planes through LifeStyle Aviation’s innovative programs, ensuring safety, efficiency, and comfort in your training journey.",
              icon: `
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
	<path fill="currentColor" d="M6.25 11.5L12 13.16l6.32-4.59l-9.07.26a.5.5 0 0 0-.25.08l-2.87 1.65a.51.51 0 0 0 .12.94" class="clr-i-solid clr-i-solid-path-1" />
	<path fill="currentColor" d="M34.52 6.36L28.22 5a3.78 3.78 0 0 0-3.07.67L6.12 19.5l-4.57-.2a1.25 1.25 0 0 0-.83 2.22l4.45 3.53a.55.55 0 0 0 .53.09c1.27-.49 6-3 11.59-6.07l1.12 11.51a.55.55 0 0 0 .9.37l2.5-2.08a.76.76 0 0 0 .26-.45l2.37-13.29c4-2.22 7.82-4.37 10.51-5.89a1.55 1.55 0 0 0-.43-2.88" class="clr-i-solid clr-i-solid-path-2" />
	<path fill="none" d="M0 0h36v36H0z" />
</svg>
              `,
            },
            {
              title: "Flexible Ownership & Leaseback Options",
              description:
                "Choose between shared ownership, leaseback programs, or full purchase to make aircraft ownership more attainable and sustainable.",
              icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	<path fill="currentColor" d="M5 20v-2h14v2zm0-3.5L3.725 8.475q-.05 0-.113.013T3.5 8.5q-.625 0-1.062-.438T2 7t.438-1.062T3.5 5.5t1.063.438T5 7q0 .175-.038.325t-.087.275L8 9l3.125-4.275q-.275-.2-.45-.525t-.175-.7q0-.625.438-1.063T12 2t1.063.438T13.5 3.5q0 .375-.175.7t-.45.525L16 9l3.125-1.4q-.05-.125-.088-.275T19 7q0-.625.438-1.063T20.5 5.5t1.063.438T22 7t-.437 1.063T20.5 8.5q-.05 0-.112-.012t-.113-.013L19 16.5z" />
</svg>`,
            },
            {
              title: "Tailored Financing Solutions",
              description:
                "LifeStyle Aviation provides financing options designed to fit your goals, whether you're a student pilot or building a flight school fleet.",
              icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	<path fill="currentColor" d="M13.5 16a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0" />
	<path fill="currentColor" d="m14.347.66l3.18 4.456l2.097-.715L21.538 10h.962v12h-21V10h.51v-.01l.648.006zM9.397 10h10.028l-1.037-3.033l-1.522.487zM7.839 8.417L15.55 5.79l-1.604-2.25zM5.5 12h-2v2a2 2 0 0 0 2-2m10 4a3.5 3.5 0 1 0-7 0a3.5 3.5 0 0 0 7 0m5 4v-2a2 2 0 0 0-2 2zm-2-8a2 2 0 0 0 2 2v-2zm-15 8h2a2 2 0 0 0-2-2z" />
</svg>`,
            },
            {
              title: "The DiamondShare Advantage",
              description:
                "Benefit from shared access to aircraft through the DiamondShare program, reducing costs while maximizing flying opportunities.",
              icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	<path fill="currentColor" d="M9.2 8.25L11.85 3h.3l2.65 5.25zm2.05 11.85L2.625 9.75h8.625zm1.5 0V9.75h8.625zm3.7-11.85L13.85 3H19l2.625 5.25zm-14.075 0L5 3h5.15l-2.6 5.25z" />
</svg>`,
            },
          ].map((benefit) => (
            <div class="relative pl-16">
              <dt class="text-muted-800 text-base leading-7 font-semibold dark:text-white">
                <div class="bg-accent-400 absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg">
                  <span class="text-picton-blue-500 scale-200 text-3xl">
                    <Fragment slot="icon" set:html={benefit.icon} />
                  </span>
                </div>
                {benefit.title}
              </dt>
              <dd class="text-muted-600 mt-2 text-base leading-7 dark:text-white">
                {benefit.description}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
