<section class="bg-picton-blue-600 dark:bg-picton-blue-700 rounded-xl">
  <div class="mx-auto max-w-7xl px-4 py-8 lg:px-6 lg:py-16">
    <h2 class="mx-auto mb-6 w-fit text-4xl font-bold tracking-tight text-white">
      Pricing
    </h2>
    <div
      class="border-custom-500 *:border-custom-500 mx-auto grid max-w-3xl grid-cols-2 border text-white *:border *:p-3 lg:text-xl"
    >
      <p class="flex items-center font-bold">Fuel surcharge</p>
      <div class="flex items-center gap-2">
        <p class="text-slate-300 line-through">$15/hour</p>
        <p class="text-custom-700 text-3xl font-bold">FREE</p>
      </div>
      <p class="flex items-center font-bold">Headset Rental</p>
      <div class="flex items-center gap-2">
        <p class="text-slate-300 line-through">$10/hour</p>
        <p class="text-custom-700 text-3xl font-bold">FREE</p>
      </div>
      <p class="flex items-center font-bold">180HP Upgrade</p>
      <div class="flex items-center gap-2">
        <p class="text-slate-300 line-through">$20/hour</p>
        <p class="text-custom-700 text-3xl font-bold">FREE</p>
      </div>
      <p class="flex items-center font-bold">Airplane Rental</p>
      <div class="flex flex-col">
        <p>$190/hour</p>
      </div>
      <p class="flex items-center font-bold">Instructor Fee</p>
      <div class="flex flex-col">
        <p>$65/hour for private/instrument</p>
        <p>$70/hour for commercial/CFI</p>
      </div>
      <p class="flex items-center font-bold">Snacks and drinks</p>
      <p class="">Included</p>
    </div>
  </div>
</section>

<section class="py-24 sm:py-32">
  <div class="mx-auto px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2
        class="text-picton-blue-600 dark:text-picton-blue-400 text-base leading-7 font-semibold"
      >
        Pricing
      </h2>
      <p
        class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl dark:text-white"
      >
        Learn More About Our Training Packages
      </p>
    </div>
    <div class="grid 2xl:grid-cols-2">
      <div
        class="isolate mx-auto mt-10 flex max-w-md flex-col items-center gap-8 md:max-w-2xl lg:max-w-4xl xl:mx-0 xl:max-w-none"
      >
        <div
          class="group flex flex-col justify-center rounded-3xl bg-white p-5 ring-1 ring-gray-200 duration-100 hover:ring-2 hover:ring-sky-600 lg:w-[700px] lg:flex-row lg:gap-10"
        >
          <div class="lg:w-1/2">
            <h3
              id="tier-ppl-certificate"
              class="text-lg leading-8 font-semibold text-gray-900 duration-100 group-hover:text-sky-600"
            >
              Private Pilot Certificate
            </h3>
            <p class="mt-4 text-sm leading-6 text-gray-600">FAA Minimums</p>
            <p class="mt-4 text-sm leading-6 text-gray-600">
              *13 weeks to complete (approximately)
            </p>
            <p class="mt-4 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$11,400</span
              >
            </p>
            <p class="mt-2">or</p>
            <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
            <p class="flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$309</span
              ><span>/month</span>
            </p>
            <p class="text-sm">
              with <a class="inline hover:underline" href="/financing"
                >Flight Training Financing</a
              >
            </p>
            <a
              data-turbo="false"
              aria-describedby="tier-ppl-certificate"
              class="mt-6 block rounded-md px-3 py-2 text-center text-sm leading-6 font-semibold text-sky-600 ring-1 ring-sky-200 duration-200 ring-inset group-hover:bg-sky-600 group-hover:text-white hover:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
              href="/enroll-at-blue-skies">Enroll Today</a
            >
          </div>
          <div class="lg:w-1/2">
            <ul
              role="list"
              class="mt-8 space-y-3 text-sm leading-6 text-gray-600"
            >
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                3 lessons per week
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                40 hours of flight time
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                30 hours of flight instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                30 hours of ground instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Ground school kit included
              </li>
            </ul>
            <p class="pt-10 text-gray-500 italic">
              Note: Price is based on FAA minimums. On average, student pilots
              require 65 hours to complete their private certificate.
            </p>
          </div>
        </div>
      </div>
      <div
        class="isolate mx-auto mt-10 flex max-w-md flex-col items-center gap-8 md:max-w-2xl lg:max-w-4xl xl:mx-0 xl:max-w-none"
      >
        <div
          class="group flex flex-col justify-center rounded-3xl bg-white p-5 ring-1 ring-gray-200 duration-100 hover:ring-2 hover:ring-sky-600 lg:w-[700px] lg:flex-row lg:gap-10"
        >
          <div class="lg:w-1/2">
            <h3
              id="tier-ppl-certificate"
              class="text-lg leading-8 font-semibold text-gray-900 duration-100 group-hover:text-sky-600"
            >
              Instrument Rating
            </h3>
            <p class="mt-4 text-sm leading-6 text-gray-600">
              Take your pilot skills to the next level with Instrument Rating
            </p>
            <p class="mt-4 text-sm leading-6 text-gray-600">
              *27 weeks to complete (approximately)
            </p>
            <p class="mt-4 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$12,050</span
              >
            </p>
            <p class="mt-2">or</p>
            <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
            <p class="flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$388</span
              ><span>/month</span>
            </p>
            <p class="text-sm">
              with <a class="inline hover:underline" href="/financing"
                >Flight Training Financing</a
              >
            </p>
            <a
              data-turbo="false"
              aria-describedby="tier-ppl-certificate"
              class="mt-6 block rounded-md px-3 py-2 text-center text-sm leading-6 font-semibold text-sky-600 ring-1 ring-sky-200 duration-200 ring-inset group-hover:bg-sky-600 group-hover:text-white hover:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
              href="/enroll-at-blue-skies">Enroll Today</a
            >
          </div>
          <div class="lg:w-1/2">
            <ul
              role="list"
              class="mt-8 space-y-3 text-sm leading-6 text-gray-600"
            >
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                3 lessons per week
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                40 hours of flight time
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                40 hours of flight instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                30 hours of ground instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Ground school kit included
              </li>
            </ul>
            <p class="pt-10 text-gray-500 italic">
              Note: FAA requires 50 flight hours of cross country time to meet
              requirements. Additional time building may be required.
            </p>
          </div>
        </div>
      </div>
      <div
        class="isolate mx-auto mt-10 flex max-w-md flex-col items-center gap-8 md:max-w-2xl lg:max-w-4xl xl:mx-0 xl:max-w-none"
      >
        <div
          class="group flex flex-col justify-center rounded-3xl bg-white p-5 ring-1 ring-gray-200 duration-100 hover:ring-2 hover:ring-sky-600 lg:w-[700px] lg:flex-row lg:gap-10"
        >
          <div class="lg:w-1/2">
            <h3
              id="tier-ppl-certificate"
              class="text-lg leading-8 font-semibold text-gray-900 duration-100 group-hover:text-sky-600"
            >
              Commercial Pilot Certificate
            </h3>
            <p class="mt-4 text-sm leading-6 text-gray-600">
              Make flying your career with Commercial Pilot Certificate
            </p>
            <p class="mt-4 text-sm leading-6 text-gray-600">
              *35 weeks to complete (approximately)
            </p>
            <p class="mt-4 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$25,150</span
              >
            </p>
            <p class="mt-2">or</p>
            <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
            <p class="flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$600</span
              ><span>/month</span>
            </p>
            <p class="text-sm">
              with <a class="inline hover:underline" href="/financing"
                >Flight Training Financing</a
              >
            </p>
            <a
              data-turbo="false"
              aria-describedby="tier-commercial-csel-certificate"
              class="mt-6 block rounded-md px-3 py-2 text-center text-sm leading-6 font-semibold text-sky-600 ring-1 ring-sky-200 duration-200 ring-inset group-hover:bg-sky-600 group-hover:text-white hover:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
              href="/enroll-at-blue-skies">Enroll Today</a
            >
          </div>
          <div class="lg:w-1/2">
            <ul
              role="list"
              class="mt-8 space-y-3 text-sm leading-6 text-gray-600"
            >
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                3 lessons per week
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                88 hours of syllabus flights
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                17 hours of added time-building
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                55 hours of flight instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                30 hours of ground instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Ground school kit included
              </li>
            </ul>
            <p class="pt-10 text-gray-500 italic">
              Note: FAA requires 50 flight hours of cross country time to meet
              requirements. Additional time building may be required.
            </p>
          </div>
        </div>
      </div>
      <div
        class="isolate mx-auto mt-10 flex w-full max-w-md flex-col items-center gap-8 md:max-w-2xl lg:max-w-4xl xl:mx-0 xl:max-w-none"
      >
        <div
          class="group flex w-full flex-col justify-center rounded-3xl bg-white p-5 ring-1 ring-gray-200 duration-100 hover:ring-2 hover:ring-sky-600 lg:w-[700px] lg:flex-row lg:gap-10 2xl:h-full 2xl:items-center"
        >
          <div class="lg:w-1/2">
            <h3
              id="tier-ppl-certificate"
              class="text-lg leading-8 font-semibold text-gray-900 duration-100 group-hover:text-sky-600"
            >
              Certified Flight Instructor
            </h3>
            <p class="mt-4 text-sm leading-6 text-gray-600">FAA Minimums</p>
            <p class="mt-4 text-sm leading-6 text-gray-600">
              *5 weeks to complete (approximately)
            </p>
            <p class="mt-4 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$9,330</span
              >
            </p>
            <p class="mt-2">or</p>
            <p class="mt-4 flex items-baseline gap-x-1">As low as</p>
            <p class="flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                >$257</span
              ><span>/month</span>
            </p>
            <p class="text-sm">
              with <a class="inline hover:underline" href="/financing"
                >Flight Training Financing</a
              >
            </p>
            <a
              data-turbo="false"
              aria-describedby="tier-ppl-certificate"
              class="mt-6 block rounded-md px-3 py-2 text-center text-sm leading-6 font-semibold text-sky-600 ring-1 ring-sky-200 duration-200 ring-inset group-hover:bg-sky-600 group-hover:text-white hover:scale-105 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
              href="/enroll-at-blue-skies">Enroll Today</a
            >
          </div>
          <div class="lg:w-1/2">
            <ul
              role="list"
              class="mt-8 space-y-3 text-sm leading-6 text-gray-600"
            >
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                3 lessons per week
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                25 hours of flight time
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                22 hours of flight instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                50 hours of ground instruction
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-sky-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Ground school kit included
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <a
      class="mx-auto mt-10 block w-fit font-bold text-sky-600 uppercase hover:underline"
      href="/financing">See financing options</a
    >
  </div>
</section>
