---
// Extract the properties from Astro.props
const { title, subTitle } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title: string;
  subTitle: string;
}
---

<!-- Container for the title and subtitle -->
<div class="lg:pe-6 xl:pe-12">
  <p
    class="text-picton-blue-600 dark:text-picton-blue-400 text-6xl leading-10 font-bold"
  >
    {title}
  </p>
  <p class="mt-2 text-neutral-600 sm:mt-3 dark:text-neutral-400">{subTitle}</p>
</div>
