---
import imgPartner from "@images/parner-flight-training-finance-logo.webp";

import { Image } from "astro:assets";
import imgFinancing from "../../assets/images/cfi-with-student-at-blue-skies-above.webp";
---

<section class="flex flex-col items-center text-lg">
  <div class="flex max-w-7xl flex-col items-center rounded-lg bg-white p-10">
    <div
      class="flex w-full flex-col-reverse items-center justify-around gap-10 py-10 lg:flex-row"
    >
      <div>
        <h2
          class="font-header text-center text-5xl font-semibold text-balance uppercase"
        >
          Finance with Flight Training Finance LLC
        </h2>
        <h3 class="pt-3 text-center text-2xl">
          Don’t let finances be the limiting factor
        </h3>
      </div>
      <Image
        class="h-12 sm:h-16 md:h-20"
        src={imgPartner}
        alt="Flight Training Finance logo"
        format={"webp"}
      />
    </div>
    <div class="tracking-wider">
      <p class="pt-5">
        Embarking on your journey to becoming a pilot is an exciting endeavor,
        and at Blue Skies Above, we understand the importance of making flight
        training accessible to everyone. That's why we've partnered with Flight
        Training Finance to offer tailored financing solutions designed to
        support your flight goals.
      </p>
      <p class="pt-5 text-xl font-semibold">
        Why Choose Flight Training Finance?
      </p>
      <ul class="list-disc pt-5 pl-10">
        <li>
          <strong>Personalized Solutions:</strong> We believe that every student's
          journey is unique. With Flight Training Finance, you'll have access to
          financing options customized to your individual needs and circumstances.
        </li>
        <li>
          <strong>Guidance Every Step of the Way:</strong> Our user-friendly Flight
          Training Finance Application walks you through the process, ensuring clarity
          and simplicity as you apply for financing.
        </li>
        <li>
          <strong>Flexible Payment Plans:</strong> Whether you're looking to spread
          out your payments or make a larger down payment, our Yellow Sheet calculation
          tool allows you to explore different payment scenarios, empowering you
          to find a plan that fits your budget.
        </li>
        <li>
          <strong>Transparent Terms:</strong> Rest assured that with the Retail Installment
          Contract, you'll have a clear understanding of the terms of your financing
          agreement, providing peace of mind as you pursue your dreams.
        </li>
      </ul>
      <p class="pt-5">
        If you are interested in getting started, please click
        <a
          href="https://www.flighttrainingfinancellc.com/apply-for-financing/"
          target="_blank"
          rel="noopener noreferrer"
          class="font-semibold text-blue-600 hover:text-blue-800 hover:underline"
        >
          here
        </a>
        to apply now.
      </p>
      <p class="pt-10 text-xl font-semibold">Partnering for Success</p>
      <p class="pt-5">
        Blue Skies Above and Flight Training Finance have come together to
        streamline the financing process, making flight training more accessible
        to aspiring pilots like you. Take the first step towards your aviation
        goals by exploring our financing options today.
      </p>
      <p class="pt-5">
        Don't let financial barriers hold you back from reaching new heights.
        Start your journey with Blue Skies Above and Flight Training Finance.
      </p>
    </div>
  </div>
</section>
<section
  class="flex flex-col items-center justify-center gap-2 py-10 md:flex-row"
>
  <div class="" data-aos="fade-left" data-aos-delay={500}>
    <Image
      class="w-full rounded-lg"
      src={imgFinancing}
      alt=""
      format={"avif"}
    />
  </div>
  <div class="flex max-w-3xl flex-col px-5 py-10">
    <h2
      class="font-header text-picton-blue-700 dark:text-picton-blue-400 text-5xl font-semibold uppercase"
    >
      Financing Your Flight Training
    </h2>
    <h3 class="dark: text-picton-blue-600 py-5 text-2xl text-gray-800">
      Accessible Financing Solutions for Your Pilot Training
    </h3>
    <p class="text-lg text-gray-700 dark:text-white">
      Our mission is to provide flexible solutions that fit your financial
      situation, allowing you to pursue your aviation dreams without the added
      stress of financial constraints.
    </p>
    <p class="pt-5 text-lg text-gray-700 dark:text-white">
      Whether you’re looking for personalized financing solutions, flexible
      payment plans, or transparent terms, our partnership with Flight Training
      Finance ensures you have access to competitive rates and terms. Our
      user-friendly application process and supportive financial aid advisors
      make it easier for you to secure the necessary funds for your flight
      training.
    </p>
    <p class="pt-5 text-lg text-gray-700 dark:text-white">
      We also offer scholarships and grants for eligible students, providing
      additional opportunities to support your aviation education. Our financial
      aid advisors are here to guide you through every step, helping you explore
      all available options so you can confidently take the first step towards
      your aviation career.
    </p>
    <p class="pt-5 text-lg text-gray-700 dark:text-white">
      Don't let financial barriers hold you back. Get in touch with us today to
      learn more about our financing options and start your journey to becoming
      a pilot with Blue Skies Above and Flight Training Finance.
    </p>
    <a class="btn-primary mt-10 w-fit text-lg" href="/pricing"
      >View Pricing for Our Training Packages</a
    >
  </div>
</section>
