---
import FormJoinTeam from "../forms/FormJoinTeam.astro"
import imgTeam from "../../assets/images/blue-skies-team-of-cfis-and-commercial-pilots.webp"
import { Image } from "astro:assets";
---

<section class="" id="program">
  <h1 class="font-bold text-4xl pt-10 text-center py-10">Apply to Join <br class="lg:hidden">Blue Skies Above</h1>
  <div class="lg:flex lg:flex-row-reverse items-center lg:items-center justify-baseline">
    
    <Image
      class="w-1/2 rounded-xl"
      src={imgTeam}
      alt=""
      draggable={"false"}
      format={"avif"}
    />
    <FormJoinTeam />

  </div>
</section>