---
import imgProgram from "@images/blue-skies-auburn-university-student-pilot-programs.webp";
import FormLeaseBackProgram from "../forms/FormLeaseBackProgram.astro";
import { Image } from "astro:assets";
import imgFinancing from "../../assets/images/blue-skies-cessna-on-grass-auburn-georgia-alabama.webp";
---

<!-- 
<section class="flex flex-col md:flex-row items-center px-10 gap-10">
  
  <div class="" data-aos="fade-left" data-aos-delay={500}>
    <Image
      class="w-full rounded-lg"
      src={imgFinancing}
      alt=""
      format={"avif"}
    />
  </div>
  <div class="max-w-4xl flex flex-col py-10 px-5">
    <h3 class="text-5xl font-header uppercase font-semibold">Discover Our Leaseback Program</h3>
    <h4 class="text-2xl text-gray-800 py-5">Invest in an Aircraft and Earn Income</h4>
    <p class="text-lg text-gray-700">Blue Skies Above’s Leaseback Program offers a unique investment opportunity, allowing you to own an aircraft while generating rental income. Based at Lanett Regional Airport, our program provides the chance to offset ownership costs while contributing to the training of future pilots.</p>
    <p class="text-lg text-gray-700 pt-10">
      By partnering with Blue Skies Above, you can enjoy the benefits of aircraft ownership with the added advantage of rental revenue. We offer flexible options and professional support for managing your aircraft within our training fleet at Lanett Regional Airport.
    </p>
  </div>
</section> -->
<section class="py-14" id="program">
  <h1 class="py-10 text-center text-4xl font-bold uppercase dark:text-white">
    Join the Blue Skies Above Leaseback Program
  </h1>

  <div class="items-center lg:flex lg:flex-row-reverse">
    <FormLeaseBackProgram />
    <div class="mx-0 lg:w-1/2">
      <Image
        class="w-full rounded-xl"
        src={imgFinancing}
        alt=""
        draggable={"false"}
        format={"avif"}
      />
    </div>
  </div>
</section>
