---
// Import the necessary dependencies.
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";
import FormDiscoveryFlight from "@/components/forms/FormDiscoveryFlight.astro";

// Define the variables that will be used in this component
const title: string = "Book Your Discovery Flight";
const subTitle: string =
  "Take the first step toward the skies! Fill out the form below to schedule your Discovery Flight with Blue Skies Above. One of our friendly team members will contact you shortly to confirm the details and help you prepare for your first hands-on flying experience.";
const formTitle: string = "";
const formSubTitle: string = "";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="mb-10 text-center">
      <h1
        class="text-picton-blue-600 dark:text-picton-blue-400 text-2xl font-bold tracking-tight text-balance md:text-4xl md:leading-tight lg:py-6 lg:text-5xl"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <FormDiscoveryFlight />
  </div>
</section>
