---

---

<section
  class="mx-auto max-w-[85rem] items-center gap-8 px-4 py-10 sm:px-6 sm:py-16 md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 lg:px-8 lg:py-14 xl:gap-16 2xl:max-w-full"
>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23253.99495302195!2d-85.23997341345644!3d32.81453773553479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888ca30e8e987077%3A0xa53550275bf137f!2sBlue%20Skies%20Above!5e0!3m2!1spt-BR!2sbr!4v1752578339637!5m2!1spt-BR!2sbr"
        width="600" 
        height="450" 
        style="border:0;"
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        class="w-full rounded-xl"
        >
    </iframe>

  <div class="mt-4 md:mt-0">
    <h2
      class="mb-4 text-4xl font-extrabold tracking-tight text-balance text-neutral-800 dark:text-neutral-200"
    >
        Our Location 
    </h2>
    <span class="text-picton-blue-600 dark:text-picton-blue-400 uppercase">Based at Lanett Regional Airport (7A3) — Lanett, Alabama </span>
    <p
      class="mb-4 max-w-prose font-normal text-pretty text-neutral-600 sm:text-lg dark:text-neutral-400"
    >
      Blue Skies Above operates out of Lanett Regional Airport (7A3), strategically located near the Alabama–Georgia border. Our location offers an exceptional training environment with uncongested airspace, allowing students to maximize flight hours without the delays common at busier airports. Nestled between major Class C and D airports, our students gain hands-on experience with both controlled and uncontrolled airspace—ideal for building real-world radio and navigation skills. With year-round flyable weather, fast turnaround between flights, and easy access from Auburn, Columbus, and Atlanta suburbs, Lanett provides the perfect blend of convenience, safety, and focused instruction.
    </p>
  </div>
</section>
