---

---

<section class="relative isolate overflow-hidden pt-24 sm:pt-32">
  
  <!-- <img alt="back of pilot flying" class="absolute inset-0 -z-10 h-full w-full object-cover object-center" src="/assets/blue-skies-pilot-back-bg-964a45234c952b77b0e9a502d782427c374424eae1363c7fe4f6f410c339d59b.webp"> -->
  
  <!-- <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-sky-500 to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-sky-500 to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div> -->


  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <!-- Text -->
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1 class="text-4xl font-bold tracking-tight text-picton-blue-500 dark:text-white sm:text-6xl">Why Become a Pilot?</h1>
      <p class="mt-6 text-lg leading-8 text-black dark:text-white font-header">A combination of factors such as mandatory retirement ages, COVID-induced early retirements, and the surging demand for pilots, indicates a pilot supply challenge in the aviation industry. Forecasts from experts suggest that, within the coming year or two, global demand for pilots will outstrip the available supply, and this trend is expected to persist over the next decade.</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 font-header text-black dark:text-white sm:grid-cols-2 md:flex lg:gap-x-10">
        <a target="blank" class="hover:text-sky-600 duration-300" href="/discovery-flight">Discovery Flight <span>→</span></a>
        <a class="hover:text-sky-500 duration-300" href="/pilot-training-programs-and-courses">Training Program <span>→</span></a>
        <a target="blank" class="hover:text-sky-600 duration-300" href="/enroll-at-blue-skies">Enroll Today <span>→</span></a>
        <a class="hover:text-sky-500 duration-300" href="/contact">Contact Us <span>→</span></a>

      </div>
      <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-black dark:text-white font-header">Pilots needed in the next 10 years</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-black dark:text-white">280,000</dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-black dark:text-white font-header">Pilots over 50 years old</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-black dark:text-white">38%</dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-black dark:text-white font-header">Pilots retiring in the next 10 years</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-black dark:text-white">45,000</dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-black dark:text-white font-header">Growth in pilot demand</dt>
          <dd class="text-2xl font-bold leading-9 tracking-tight text-black dark:text-white">39%</dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="flex flex-row justify-end">
    <div class="text-black dark:text-white mt-20 mb-10 mr-10 italic text-sm">
      <a href="https://www.cae.com/media/documents/ATF/Aviation-Talent-Forecast-2023.pdf" target="blank">Source: 2023 CAE Aviation Talent Forcast</a>
    </div>
  </div>
</section>