<section class="rounded-3xl bg-white">
  <div class="mx-auto max-w-2xl rounded-2xl px-6 py-6 text-center lg:py-12">
    <p
      class="text-accent-300 text-picton-blue-600 text-base leading-7 font-semibold uppercase"
    >
      Lifestyle Aviation Aircraft
    </p>
    <h2
      class="text-muted-700 mt-2 text-3xl font-bold tracking-tight sm:text-4xl"
    >
      Check Exclusive Opportunities with Blue Skies Above
    </h2>
    <p class="text-muted-700 mt-6 text-lg leading-8">
      Through our partnership with LifeStyle Aviation, Blue Skies Above students
      gain access to a nationwide network of modern Diamond Aircraft, advanced
      technology, and ownership solutions designed for future professional and
      recreational pilots.
    </p>
  </div>

  <div
    style="position:relative; width:100%; aspect-ratio: 1 / 1; overflow:hidden;"
  >
    <iframe
      src="https://www.lifestyleaviation.com/diamond-aircraft-for-sale-snippet"
      title="Diamond Aircraft for Sale — Live Inventory"
      loading="eager"
      referrerpolicy="no-referrer-when-downgrade"
      style="position:absolute; inset:0; width:100%; height:90%; border:0;"
      allowfullscreen
    >
    </iframe>
  </div>
</section>

<!-- Old -->
<!-- <div
  class="border-primary-500 scroll-hidden h-[3000px] w-full overflow-hidden border-2 bg-white"
>
  <iframe
    src="https://lifestyleaviation.com/partners/"
    width="100%"
    height="3000"
    class="h-[3000px] w-full overflow-hidden [scrollbar-width:none] [&::-webkit-scrollbar]:hidden"
    style="border:none;"
    loading="eager"></iframe>
</div> -->

<!-- 
allowfullscreen="allowfulls
creen"
-->
