---
import imgWhyBecomePilot from "../assets/images/blue-skies-student-with-instructor.webp";
---

<div class="relative">
  <div
    class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end"
  >
    <div
      class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2"
    >
      <div
        class="relative h-full rounded-lg p-10 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0"
      >
        <img
          src={imgWhyBecomePilot.src}
          alt=""
          width="865"
          height="1080"
          loading="lazy"
          decoding="async"
          class="h-3/4 w-full rounded-lg object-cover lg:min-h-screen"
        />
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div
        class="mx-auto max-w-2xl pt-16 pb-24 sm:pt-20 sm:pb-32 lg:mr-0 lg:ml-8 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2"
      >
        <p
          class="text-picton-blue-600 dark:text-picton-blue-500 text-base leading-7 font-semibold uppercase"
        >
          Auburn Flight Training
        </p>
        <h1
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl dark:text-white"
        >
          Programs We Offer
        </h1>
        <p class="mt-6 text-xl leading-8 text-gray-700 dark:text-white">
          Our programs are designed to cater to students at different stages of
          their flight training journey. Whether you're starting with a Private
          Pilot License (PPL), advancing to a Commercial Single Engine Land
          (CSEL) rating, or training to become a Certified Flight Instructor
          (CFI), we have you covered.
        </p>
        <p class="mt-6 text-xl leading-8 text-gray-700 dark:text-white">
          Many Auburn University students choose to fly at Blue Skies Above due
          to our aircraft availability, instructors, and flexibility. For those
          students that have not yet started the semester yet, getting your
          private pilot at Blue Skies Above is a great way to set yourself apart
          from the rest of the class. For those who have progressed through
          their training and are looking for the next steps, obtaining your CSEL
          or CFI may be the right next thing for you. Talk to a Blue Skies team
          member today!
        </p>
        <div
          class="mt-10 max-w-xl text-base leading-7 text-gray-700 lg:max-w-none dark:text-white"
        >
          <ul role="list" class="mt-8 space-y-4 text-gray-600">
            <li class="flex gap-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                viewBox="0 0 24 24"
                class="mt-1 h-5 w-5 flex-none fill-sky-600"
                ><rect fill="none" height="24" width="24"></rect><path
                  d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"
                ></path></svg
              >
              <span class="text-gray-900 dark:text-gray-200"
                ><strong class="font-semibold text-gray-900 dark:text-white"
                  >Private Pilot Certificate (PPL).</strong
                > Start your aviation journey with our PPL program, designed to take
                you from zero experience to a confident pilot in command.</span
              >
            </li>
            <li class="ml-8 pb-8">
              <a href="/private-pilot">
                <span class="text-sky-600 hover:underline"
                  >Click here to learn more about our Private Pilot Program</span
                >
              </a>
            </li>
            <li class="flex gap-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                viewBox="0 0 24 24"
                class="mt-1 h-5 w-5 flex-none fill-sky-600"
                ><rect fill="none" height="24" width="24"></rect><path
                  d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"
                ></path></svg
              >
              <span class="text-gray-900 dark:text-gray-200"
                ><strong class="font-semibold text-gray-900 dark:text-white"
                  >Commercial Single Engine Land (CSEL).</strong
                > Advance your skills with our CSEL program, perfect for those looking
                to pursue a professional aviation career.</span
              >
            </li>
            <li class="ml-8 pb-8">
              <a href="/commercial-pilot-certificate-cpl">
                <span class="text-sky-600 hover:underline"
                  >Click here to learn more about our Commercial Pilot Program</span
                >
              </a>
            </li>
            <li class="flex gap-x-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                enable-background="new 0 0 24 24"
                viewBox="0 0 24 24"
                class="mt-1 h-5 w-5 flex-none fill-sky-600"
                ><rect fill="none" height="24" width="24"></rect><path
                  d="M22,5.18L10.59,16.6l-4.24-4.24l1.41-1.41l2.83,2.83l10-10L22,5.18z M19.79,10.22C19.92,10.79,20,11.39,20,12 c0,4.42-3.58,8-8,8s-8-3.58-8-8c0-4.42,3.58-8,8-8c1.58,0,3.04,0.46,4.28,1.25l1.44-1.44C16.1,2.67,14.13,2,12,2C6.48,2,2,6.48,2,12 c0,5.52,4.48,10,10,10s10-4.48,10-10c0-1.19-0.22-2.33-0.6-3.39L19.79,10.22z"
                ></path></svg
              >
              <span class="text-gray-900 dark:text-gray-200"
                ><strong class="font-semibold text-gray-900 dark:text-white"
                  >Certified Flight Instructor (CFI).</strong
                > Train to become a flight instructor and share your passion for
                aviation with others.</span
              >
            </li>
            <li class="ml-8 pb-8">
              <a href="/certified-flight-instructor-cfi">
                <span class="text-sky-600 hover:underline"
                  >Click here to learn more about our Flight Instructor Program</span
                >
              </a>
            </li>
          </ul>
          <p class="mt-8">
            Blue Skies Above is dedicated to providing you with the best
            training experience. Our expert instructors, state of the art
            facilities, and comprehensive curriculum ensure you are well
            prepared for your aviation career. Contact us today to learn more
            about our programs and start your journey with us.
          </p>
          <div class="flex py-10">
            <a target="blank" href="/contact" class="btn-primary" type="submit"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
