---

const LEASEBACK_PROGRAM_URL = import.meta.env.LEASEBACK_PROGRAM_URL;
const PORTAL_API_KEY = import.meta.env.PORTAL_API_KEY;
const CP_ACCOUNT_RANDOM_ID = import.meta.env.CP_ACCOUNT_RANDOM_ID;

---

<div class="mx-10 lg:px-16 lg:w-1/2">
      <form class="contents" action="/leaseback_programs" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="3O-5UiAB4xUSXET4JnwO3jneQEttrj6T9NaYpM5h090oTv1hdbHNYpUbrqpnfkeBKqKSePlo7PewCKP9fH4grQ" autocomplete="off">

  <div class="my-5">
    <label for="leaseback_program_name">Name</label>
    <input class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" type="text" name="leaseback_program[name]" id="leaseback_program_name">
  </div>

  <div class="my-5">
    <label for="leaseback_program_email">Email</label>
    <input class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" type="text" name="leaseback_program[email]" id="leaseback_program_email">
  </div>

  <div class="my-5">
    <label for="leaseback_program_phone">Phone</label>
    <input class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" type="text" name="leaseback_program[phone]" id="leaseback_program_phone">
  </div>

  <div class="my-5">
    <label for="leaseback_program_aircraft_manufacturer">Aircraft manufacturer</label>
    <input class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" type="text" name="leaseback_program[aircraft_manufacturer]" id="leaseback_program_aircraft_manufacturer">
  </div>

  <div class="my-5">
    <label for="leaseback_program_aircraft_model">Aircraft model</label>
    <input class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" type="text" name="leaseback_program[aircraft_model]" id="leaseback_program_aircraft_model">
  </div>

  <div class="my-5">
    <label for="leaseback_program_aircraft_year">Aircraft year</label>
    <input class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" type="text" name="leaseback_program[aircraft_year]" id="leaseback_program_aircraft_year">
  </div>

  <div class="my-5">
    <label for="leaseback_program_message">Message</label>
    <textarea rows="4" class="block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" name="leaseback_program[message]" id="leaseback_program_message"></textarea>
  </div>

  <div class="inline">
    <input type="submit" name="commit" value="APPLY" class="btn-primary mb-10 lg:mb-0" data-disable-with="APPLY">
  </div>
</form>   
    </div>